body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#logo {
    height: 56px;
    width: 331px;
}

header {
    background-color: white;
    margin: 40px;
    padding: 70px 92px 35px 92px !important;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.subTitle {
    font-size: 22px;
    font-weight: bold;
    color: #01B4DC;
    line-height: 1.3em;
    padding: 1em 0;
}